<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>art studio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">ARTSTUDIO<span>.</span></a>
        <nav class="navbar">
            <a href="#home">HOME</a>
            <a href="#products">PRODUCTS</a>
            <a href="#contact">CONTACT</a>
            
              
        </nav> 
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>

        </div>   
        
    </header>
    <!-- home -->

    <section class="home" id="home">
        <div class="content" >
            <h3>Exclusive Art Collection</h3>
            <span>Rare and Beautiful artworks.</span>
            <p>Acquire original art from our online image gallery. Take a look at our vast collection of artwork creatednby famous artists from across the world!..</p>
            <a href="#" class="btn">shop now</a>
            
        </div>
    </section>
<!-- about session removed -->
<!-- icon session -->
<section class="icons-container">
    <div class="icons">
        <img src="static\img\free.jpg" alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all orders</span>
    </div>
</div>
    <div class="icons">
        <img src="static\img\return.jpg" alt="">
        <div class="info">
        <h3>return and replacement</h3>
        <span>on all orders</span>
    </div>
</div>
    <div class="icons">
        <img src="static\img\offer.jpg" alt="">
        <div class="info">
        <h3>offer & discount</h3>
        <span>on all orders</span>
    </div>
</div>
<div class="icons">
    <img src="static\img\secure.jpg" alt="">
    <div class="info">
    <h3>secure payment</h3>
    <span>on all orders</span>
</div>
</div>
</section>
<!-- products session -->
<section class="products" id="products">
    <h1 class="heading">latest <span>products</span></h1>
    
    <!-- PAINTING STARTS -->

    <div class="box-container">
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\1.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Starry Nights</h3>
                <p>Vincent Van Gogh,1889</p>
                <div class="price">Rs.1,90,000 <span>Rs.2,00,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="static\img\2.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Girl with pearl earring</h3>
                <p>Johannes Vermeer,1665</p>
                <div class="price">Rs.2,10,000 <span>Rs.2,12,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\3.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Impression sunrise</h3>
                <p>Claude Monet,1872</p>
                <div class="price">Rs.2,20,000 <span>Rs.2,32,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">10%</span>
            <div class="image">
                <img src="static\img\4.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3> Landscape with the fall of icarus</h3>
                <p>Peiter Bruegel the Elder,1883</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,20,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\5.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Composition 8</h3>
                <p>Wassily Kandinsky,1923</p>
                <div class="price">Rs.1,90,000 <span>Rs.2,00,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\6.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Paris street,Rainy day</h3>
                <p>Gustave Caillebotte,1877</p>
                <div class="price">Rs.3,20,000 <span>Rs.3,21,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\7.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Boreas</h3>
                <p>John William Waterhouse,1903</p>
                <div class="price">Rs.3,00,000 <span>Rs.3,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\8.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Almond Blossoms</h3>
                <p>Vincent van Gogh,1890</p>
                <div class="price">Rs.3,10,000 <span>Rs.3,11,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\9.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Lady of Shallot</h3>
                <p>John William Waterhouse,1888</p>
                <div class="price">Rs.2,20,000 <span>Rs.2,13,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\10.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Women with a Parasol-Mdame Monet and her son</h3>
                <p>Claude Monet,1875</p>
                <div class="price">Rs.4,20,000 <span>Rs.4,21,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\11.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Cafe Terrace at Night</h3>
                <p>Vincent van Gogh,1888</p>
                <div class="price">Rs.1,20,000 <span>Rs.1,20,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\12.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>American Gothic</h3>
                <p>Grant wood,1930</p>
                <div class="price">Rs.1,20,000 <span>Rs.1,00,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\13.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Great Wave off Kanagawa</h3>
                <p>Hokusai,1831</p>
                <div class="price">Rs.3,20,000 <span>Rs.3,00,800</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\14.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Arnolfini Portait</h3>
                <p>Jab van Eyck,1434</p>
                <div class="price">Rs.5,20,000 <span>Rs.5,20,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\15.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Harvesters</h3>
                <p>Peiter Bruegel the Elder,1565</p>
                <div class="price">Rs.1,20,000 <span>Rs.1,21,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\16.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Night Watch</h3>
                <p>Rembrandt van Riji,1642</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,10,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\17.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Shakuntala</h3>
                <p>Raja Ravi Varma,1898</p>
                <div class="price">Rs.3,20,000 <span>Rs.3,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\18.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Bal du moulin de la Galette</h3>
                <p>pierre-Auguste Renior,1876</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\19.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Swing</h3>
                <p>Jean-Honore` Frangonard,1767</p>
                <div class="price">Rs.3,20,000 <span>Rs.3,10,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\20.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Wanderer above the sea of fog</h3>
                <p>Caspar David Friedrich ,1818</p>
                <div class="price">Rs.1,60,000 <span>Rs.1,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\21.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Apple Tree 1</h3>
                <P>Gustav Klimt,1912</P>
                <div class="price">Rs.1,20,000 <span>Rs.1,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\22.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>A Sunday Afternoon on the island of la Grande Jatte</h3>
                <p>Georges Seurat,1886</p>
                <div class="price">Rs.2,00,000 <span>Rs.1,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\23.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Ballet Rehearsal</h3>
                <p>Edgar Degas,1873</p>
                <div class="price">Rs.1,29,000 <span>Rs.1,30,000</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\24.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Angelus</h3>
                <p>Jean-Francois Millet,1859</p>
                <div class="price">Rs.1,20,000 <span>Rs.1,20,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\25.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Irises</h3>
                <p>Vincent van Gogh,1889</p>
                <div class="price">Rs.2,20,000 <span>Rs.2,20,090</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\26.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Soul of the Rose</h3>
                <p>John William Waterhouse,1908</p>
                <div class="price">Rs.1,00,000 <span>Rs.1,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\27.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Slave Ship</h3>
                <p>Joseph Mallord William Turner,1840</p>
                <div class="price">Rs.1,22,000 <span>Rs.1,22,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\28.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Wheat Field with Cypresses</h3>
                <p>Vincent van Gogh,1889</p>
                <div class="price">Rs.2,20,000 <span>Rs.1,20,800</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\29.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Children in the Sea</h3>
                <p>Joaquin Sorolla Y Bastida,1909</p>
                <div class="price">Rs.1,20,000 <span>Rs.1,20,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\30.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
            </div>
            <div class="content">
                <h3>The Milkmaid</h3>
                <p>Jan Vermeer Van Deleft,1660</p>
                <div class="price">Rs.4,20,000 <span>Rs.4,20,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\31a.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Glow of Hope</h3>
                <p>S.L Haldankar,1946</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\32bharat.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Bharat Mata </h3>
                <p>Abanindranath Tagore,1905</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\selfportait33.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Self Portait</h3>
                <p>Amrita Sher-Gil,1933</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\daysofglory.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Days of glory</h3>
                <p>Satish Gujral,1952,1886</p>
                <div class="price">Rs.1,00,000 <span>Rs.1,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\passing.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Passing of ShahJahan</h3>
                <p>Abanindranath tagore,1902</p>
                <div class="price">Rs.2,00,000 <span>Rs.1,00,900</span></div>
                
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\kadambari.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Kadambari</h3>
                <p>Raja Ravi Varma,1906</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\mother.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Mother India</h3>
                <p>Amrita sher-gil,1935</p>
                <div class="price">Rs.2,40,000 <span>Rs.2,40,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\coquette.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Coquette</h3>
                <p>Rja Ravi Varma,1893</p>
                <div class="price">Rs.3,00,000 <span>Rs.3,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-12%</span>
            <div class="image">
                <img src="static\img\gallaxy.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Galaxy of Musicians</h3>
                <p>Raja Ravi Varma,1889</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,00,800</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\tajmahal.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Taj Mahal Mausoleum</h3>
                <p>Vasily Vereshchagin,1876</p>
                <div class="price">Rs.2,00,000 <span>Rs.2,00,700</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\untold.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Untold Element</h3>
                <p>Tyeb Mehta,1965</p>
                <div class="price">Rs.1,00,000 <span>Rs.1,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\moongirl.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Lady in Moonlight</h3>
                <p>Raja Ravi Varma,1889</p>
                <div class="price">Rs.3,00,000 <span>Rs.3,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\three.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Charles I in three Positions</h3>
                <p>Anthony van Dyck,1636</p>
                <div class="price">Rs.5,00,000 <span>Rs.5,00,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\fordmill.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>Flatford Mill</h3>
                <p>John Constable,1816</p>
                <div class="price">Rs.5,70,000 <span>Rs.5,70,900</span></div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="static\img\blueboy.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>

                </div>
                
            </div>
            <div class="content">
                <h3>The Blue Boy</h3>
                <p>Thomas Gainsborough,1770</p>
                <div class="price">Rs.6,00,000 <span>Rs.6,00,900</span></div>
            </div>
        </div>
        
</div>
        
</section>
<section class="contact" id="contact">
    <h1 class="heading"> <span>TO BUY THE PORTRAIT, </span> FILL THE DETAILS BELOW </h1>
    <div class="row">
        <form action="">
            <input type="text" placeholder="Name" class="box">
            <input type="email" placeholder="Email" class="box">
            <input type="number" placeholder="Number" class="box">
            <textarea name="" class="box" placeholder="Name the portrait you want to buy!" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>
        <div class="image">
            <img src="static\img\contact.jpg" alt="">
        </div>
    </div>
     
</section>
<!-- footer session -->
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">products</a>
            <a href="#">contact</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my order</a>
            <a href="#">my favorite</a>
            <a href="#">contact</a>
        </div>
        <div class="box">
            <h3>location</h3>
            <a href="#">india</a>
            <a href="#">indonesia</a>
            <a href="#">japan</a>
            <a href="#">USA</a>
        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">art2024@gmail.com</a>
            <a href="#">Tamilnadu,india</a>
            <img src="static\img\pay.jpeg" alt="">
        </div>
    </div>
    <div class="credit"> created by <span>Yuvashree.M</span>|all-rights reserved</div>

    </div>
</section>    
</body>
</html>